header {
    display: flex;
    justify-content: center;
}

.todoitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.item {
    width: 250px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(128, 126, 126);
}

.done {
    margin-right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-decoration: none;
}

.completed {
    text-decoration: line-through;
}

.remove {
    background-color: white;
    border: none;
    color: crimson;
    font-size: 15px;
    margin-left: auto;
}